/* You can add global styles to this file, and also import other style files */


/* Responsive */

@media screen and (max-width:768px){
	.navbar.myNav .container-fluid{
		width:50% !important;
		
	} 
	.navbar-header{
		float:none !important;
	}
	.main-btn{
		padding-right:0px !important;
	}
	.btn-join-2{
		width:110px !important;
		padding:10px !important;
	}
	.btn-custom{
		width:110px !important;
	}
	.img-cardz{
		margin:0px auto !important;
	}
	.btn.btn-custom.to.left-txt.btn-join{
		width:250px !important;
	}
	.btn-join-2{
		margin-left:5px !important;
	}
	.box-social{
		padding-top:0px !important;
		margin-left:0px !important;
	}
}
@media screen and (max-width: 1100px) and (min-width: 769px) {
	.card-bottom_numbers{
		width:100%;
		float:left
	}
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
	.box-social{
		
		margin-left:0px !important;
	}
	.col-box{
		padding:0px !important;
	}
	.box-p-h{
		padding:0px !important;
	}

}
@media screen and (max-width:500px) {
    .wh-1{ 
        font-size: 18px;
    }
    .wh-2{
        font-size: 18px;
    }
    .blue_txt{
        font-size: 50px;
    }
    .card-img {
        position: relative;

        height: 250px;
        overflow: hidden;
    }
	.nav_search{
		position:initial !important;
		width:80%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		margin:0px auto !important;
	}
	
}
@media screen and (max-width: 1100px) and (min-width: 501px) {
    .blue_txt{
        font-size: 60px;
    }
    .card-img {
        position: relative;

        height: 250px;
        overflow: hidden;
    }
     .wh-1{ 
        font-size: 22px;
    }
    .wh-2{
        font-size: 22px;
    }
	ul.footer_links i {
	padding:0px 5px;
	}
	.footer_links li a{
		font-size:10px;
	}
	.btn-view{
		padding-top:16px;
		font-size:10.75px;
	}
	.img-cardz{
		padding:0px;
	}
	.box-menu{
		font-size:12px !important;
		}
	.footer_links{
		padding-left:0px;
	}
}
@media screen and (max-width: 1200px) and (min-width: 1101px) {
	.box-txt span{
		font-size:10px !important;
	}
	.blue_txt{
		font-size:72px;
	}
	.footer_links li a{
		font-size:14px;
	}
	.footer_links{
		padding-left:0px;
	}
}
@media only screen and (max-width: 992px) {
    body {
        font-size: 10px;
    }
    .card-bottom {
        font-size: 7px;
    }
   
	.footer_links{
		padding-left:0px;
	}
	.btn-join-2{
		padding:9px !important;
	}
}

@media screen and (max-width: 767px) {
    .footer_links li {
        display: block;
        padding-bottom: 0;
        padding-left: 0;
    }
    ul.footer_links {
        display: block;

        text-align: center;
    }
    .card {
        margin-bottom: 20px;
    }
    .bg-wrap {
        padding: 20px 0;
    }
}
